@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  color: #ccc;
  background-color: #111;
  overflow: hidden;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.square {
  width: 18px;
  height: 18px;
  margin: 1px;
  font-size: 8px;
  text-align: center;
  line-height: 20px;
  background: #1d1d1d;
  box-shadow: 0 0 2px #000;
  transition: 10s ease;
}

.square:hover {
  transition-duration: 0s;
}